.app {
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 2%;
}
  
.btn {
    width: 100px; 
    cursor: pointer;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #18c4d0c1;
    padding: 10px 20px;
    border-radius: 10px;
    animation-duration: 0.4s;
    justify-content: center;
}

.btn:hover {
  background-color: #18c4d052;
}

.indexContainer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  width: 400px;
  margin: 0 auto;
}

.form input,
.form select {
  padding: 5px;
  width: 350px;
  align-self: center;
}

.block button ,
.form button {
  align-self: center;
  margin: 15px 0 0 0;
  justify-content: center;
}

.dashboardContainer {
  display: flex;
  flex-direction: column;
}

.block {
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 5px;
  align-items: baseline;
  margin: 0 auto;
}

.field input {
  padding: 6px;
}

.field {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}

* {
  box-sizing: border-box;
}

input.error:focus,
input.error {
  border: 3px solid #ef0b0b;
}